* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ulli {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Playfair Display", serif;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.title {
  width: 100%;
  font-size: calc(30px + 20 * ((100vw - 320px) / 870));
  color: #000;
  text-align: center;
}

.title--main {
  font-size: 80px;
}

.heading {
  font-weight: 700;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 70px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  z-index: 100;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.header__logo {
  max-width: 76px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.header__logo--vv {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  display: none;
  z-index: 10000;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.header__burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}

.header__nav {
  width: 100%;
}

.nav__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  list-style-type: none;
}

.nav__item--dbl {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.nav__link {
  font-size: calc(25px + 5 * ((100vw - 320px) / 870));
  color: #000;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
}

.nav__link:hover {
  color: #8CC6D0;
}

.nav__link._active {
  color: #73BBC8;
}

.preview {
  padding: 300px 0 200px 0;
  background: url("../img/preview/bg.jpg") center no-repeat fixed;
  background-size: cover;
}

.preview__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preview__title {
  width: 100%;
  max-width: 580px;
  margin-bottom: 70px;
  text-align: right;
  line-height: 1.3;
}

.preview__description {
  width: 100%;
  font-size: calc(20px + 15 * ((100vw - 320px) / 870));
  text-align: right;
  line-height: 1.3;
}

.about {
  padding: 30px 0;
}

.about__title {
  margin-bottom: 60px;
}

.about__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__item:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.portfolio {
  padding: 30px 0;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__card {
  width: 32%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding-bottom: 160px;
}

.item:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 63%;
  height: 2px;
  background: #73BBC8;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item__description {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__heading {
  margin-bottom: 50px;
  font-size: 50px;
  line-height: 1.2;
}

.item__text {
  font-size: 30px;
  line-height: 1.3;
}

.item ul.item__text {
  padding-left: 25px;
}

.item__img {
  width: 40%;
  min-width: 516px;
  max-height: 450px;
  height: auto;
  overflow: hidden;
}

.item__pht {
  height: 100%;
  max-height: 516px;
  min-height: 516px;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.item__pht:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.card {
  position: relative;
  max-width: 390px;
  min-width: 300px;
  min-height: 320px;
  overflow: hidden;
  border-radius: 7px;
  -webkit-transition: border .4s ease, -webkit-box-shadow .4s ease;
  transition: border .4s ease, -webkit-box-shadow .4s ease;
  -o-transition: box-shadow .4s ease, border .4s ease;
  transition: box-shadow .4s ease, border .4s ease;
  transition: box-shadow .4s ease, border .4s ease, -webkit-box-shadow .4s ease;
}

.card:hover {
  -webkit-box-shadow: 5px 15px 40px 0.2px rgba(19, 19, 19, 0.2);
          box-shadow: 5px 15px 40px 0.2px rgba(19, 19, 19, 0.2);
}

.card:hover .card__back {
  opacity: 1;
  visibility: visible;
}

.card:hover .card__description {
  visibility: visible;
  opacity: 1;
  bottom: 2px;
}

.card:hover .card__img {
  border-color: #73BBC8;
}

.card__img {
  display: block;
  max-width: 390px;
  min-width: 300px;
  min-height: 320px;
  overflow: hidden;
  border: 2px solid #8CC6D0;
  border-radius: 7px;
}

.card__pht {
  min-width: 300px;
  height: 100%;
  max-height: 516px;
  min-height: 516px;
}

.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.4);
  color: #000;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.card__description {
  padding: 30px 20px 20px;
  width: 98.8%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.card__heading {
  width: 100%;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.card__text {
  font-size: 20px;
}

.card__text a {
  color: #8CC6D0;
}

.card__text a:hover {
  text-decoration: underline;
}

.prices {
  padding: 40px 0 60px;
}

.prices__title {
  margin-bottom: 30px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  margin-bottom: 60px;
  background: #f9f9f9;
  color: #000;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.price:last-child {
  margin-bottom: 0;
}

.price:hover {
  background: #f1f1f1;
}

.price:hover .price__num {
  background: #C3EDF3;
}

.price._active {
  color: #333;
  background: #d1d1d1;
}

.price._active .price__num {
  background: #8CC6D0;
  color: #fff;
}

.price__heading {
  padding: 20px 0;
  font-size: 36px;
  font-weight: 300;
}

.price__num {
  height: 100%;
  padding: 20px 30px;
  margin-left: 15px;
  background: #DBF4F8;
  font-size: 45px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.socials {
  padding: 40px 0 60px;
  background: #f9f9f9;
}

.socials__title {
  margin-bottom: 50px;
}

.soclinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.soclinks__link {
  width: 150px;
  height: 150px;
}

.soclinks__icon {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
}

.soclinks__icon path {
  fill: #73BBC8;
  -webkit-transition: fill .4s ease;
  -o-transition: fill .4s ease;
  transition: fill .4s ease;
}

.soclinks__icon--tg:hover path {
  fill: #0088CC;
}

.soclinks__icon--ig:hover path {
  fill: #cc2366;
}

.soclinks__icon--vb:hover path {
  fill: #6459A6;
}

.footer {
  padding: 60px 50px;
  background: #DBF4F8;
}

.footer__title {
  margin-bottom: 40px;
}

.footer__nav {
  margin-bottom: 40px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav .nav__link {
  width: 100%;
  margin-bottom: 60px;
}

.footer__nav .nav__link:last-child {
  margin-bottom: 0;
}

.footer__logo {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.footer__logo img {
  max-width: 130px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.footer .soclinks {
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 480px;
  min-width: 320px;
  width: 100%;
}

.footer .soclinks__link {
  width: 60px;
  height: 60px;
}

.footer .soclinks__icon {
  width: 60px;
  height: 60px;
}

.footer__mail {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
}

.footer__mail a {
  letter-spacing: 5px;
  color: #000;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
}

.footer__mail a:hover {
  color: #8CC6D0;
}

.footer__mail a:active {
  color: #73BBC8;
}

.footer__moto {
  margin-bottom: 50px;
  font-weight: 300;
  font-family: "Megrim", cursive;
  font-size: 30px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.footer__copyrights {
  width: 100%;
  letter-spacing: 2px;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 1020px) {
  .about__item:nth-child(n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .portfolio__cards {
    width: 100%;
  }

  .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item__description {
    width: 100%;
  }

  .item__img {
    width: 100%;
    margin-bottom: 30px;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 60px;
    min-width: 0;
    width: 100%;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card__img {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 740px) {
  .title {
    font-size: 50px;
  }

  .preview {
    padding: 100px 0 70px 0;
  }

  .preview__title {
    font-size: 50px;
  }

  .item {
    padding-bottom: 60px;
  }

  .item:after {
    width: 90%;
    bottom: 30px;
  }

  .item__heading {
    margin-bottom: 10px;
    font-size: 35px;
  }

  .item__text {
    font-size: 20px;
  }

  .item__img {
    width: 100%;
    min-height: none;
    max-height: none;
    height: auto;
    min-width: 280px;
  }

  .item__pht {
    min-height: 0;
    max-height: 320px;
    height: 100%;
  }

  .prices {
    padding: 40px 0;
  }

  .price {
    padding: 20px 0;
    width: auto;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .price__num {
    margin-left: 0;
    width: 50%;
    text-align: center;
  }

  .soclinks__link {
    max-width: 100px;
    max-height: 100px;
  }

  .soclinks__icon {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (max-width: 640px) {
  .header {
    overflow: visible;
  }

  .header__logo {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 1;
    top: 0;
  }

  .header__logo--vv {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 90%;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .header__burger:after,
  .header__burger:before {
    background-color: #8CC6D0;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 40%;
    left: 0%;
    background-color: #8CC6D0;
  }

  .header__burger:after,
  .header__burger:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 102;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger:before {
    top: 10px;
  }

  .header__burger:after {
    bottom: 17px;
  }

  .header__burger._active span {
    display: none;
  }

  .header__burger._active:before {
    width: 40px;
    right: 24px;
    top: 22px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger._active:after {
    width: 40px;
    bottom: 25px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .nav {
    position: fixed;
    padding-top: 70px;
    top: 0;
    right: 0;
    opacity: 0;
    bottom: 0;
    visibility: hidden;
    background: #DBF4F8;
    -webkit-transform: translate(100%);
        -ms-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .nav__inner {
    height: 60%;
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
  }

  .nav__item {
    width: 100%;
    text-align: center;
  }

  .nav._active {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    width: 320px;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 560px) {
  .footer {
    padding: 20px 10px 10px;
  }

  .footer__nav {
    margin-bottom: 10px;
  }

  .footer__logo {
    display: none;
  }

  .footer .nav__link {
    margin-bottom: 30px;
  }

  .footer .nav__item--dbl {
    margin-bottom: 30px;
  }

  .footer .nav__item--dbl:nth-child(2) {
    display: none;
  }

  .footer .nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .soclinks {
    max-width: none;
    min-width: 0;
    margin-bottom: 30px;
  }

  .footer__mail {
    margin-bottom: 40px;
    font-size: 20px;
  }

  .footer__mail a {
    letter-spacing: 1px;
  }

  .footer__moto {
    font-size: 20px;
  }

  .footer__copyrights {
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .price__num {
    max-width: 300px;
    width: 100%;
  }

  .soclinks__link {
    max-width: 50px;
    max-height: 50px;
  }

  .soclinks__icon {
    max-width: 50px;
    max-height: 50px;
  }
}

.webp .preview { background: url(../img/preview/bg.webp) center no-repeat fixed; }